<weather-widget [headerTemplate]="altWidgetHeader"
				[contentTemplate]="altWidgetContent"
				[actionTemplate]="altAction"></weather-widget>

<ng-template #altWidgetHeader>
	<div class="alt-header">Today's weather</div>
</ng-template>

<!--<ng-template #altWidgetContent let-state="widgetState">-->
<ng-template #altWidgetContent let-state>
	<div>
		<span>🌡 {{state.data.temperature}}°C</span> -
		<span>{{state.data.skyCondition === 'sunny' ? '☀️' : '☁️'}}</span> -
		<span>🌬️ {{state.data.windspeed}}m/s</span>
	</div>
</ng-template>

<ng-template #altAction>
	<app-weather-custom-action></app-weather-custom-action>
</ng-template>